.footer-content{
    display: flex;
    justify-content: space-between;
    padding: 20px 82px 0px 104px;
}

.terms-policy{
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115.6%;
    /* padding-right: 50px; */
    
    
}

.policy{
    padding-left: 30px;
}

.footer{
    display: flex;
    justify-content: center;
    padding-top: 35px;
    padding-bottom: 69px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 115.6%;
}


/* @media screen and (max-width:768px){

} */