main {
   padding-left: 70px;
}

.search-word{
width: 607px;
height: 232px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 96px;
line-height: 116px;
color: #0B0A1B;
padding-top: 55px;
}

.resuit-border{
    border: 1px solid #E9ECF0;
    width: 80%;
    height: 600px;
    margin-top: 60px;

}

.sentence{
    /* width: 224px;
    height: 19px; */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 6px;
    color: #8C98AD;

}

.Synonyms{
    /* width: 101px;
    height: 19px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 6px;
    color: #000000;
}
.Hello{
    width: 158px;
    height: 77px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px; 
    color: #000000;
}

.sound-word{
    /* width: 89px;
    height: 29px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    /* padding-left: 73px; */
    color: #8C98AD;
}

.origin{
    /* width: 512px;
    height: 19px; */ 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 26px;
    /* padding: 26px 0px 0px 73px; */
    color: #000000;
}

.exclamation{
    /* width: 402px;
    height: 19px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 38px;
    color: #000000;
}


.search_btn {
    background: #FFFFFF;
    border: 1px solid #E9ECF0;
    border-radius: 5px;
    width: 80%;
    height: 65px;
    margin-top: 65px;
}

.search1 {
    width: 40px;
    height: 60px;
    margin-left: 32px;
}

.search_svg {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.search_input {
    display: inline-flex;
    align-items: center;
}

.input{
    border: none;
    width: 296px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #8C98AD;
    padding-left: 28px;
}

.btn{
    width: 124px;
    height: 53px;
    background: #000000;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 2px 5px 0px 0px;
}


@media screen and (max-width:768px) {
   .resuits-paragrahs1{
    display: none;
   }
   .resuits-paragrahs2{
    display: none;
   }

   .resuit-border{
    border: none;
    /* width: 20%; */
    height: 200px;
   }

   .search_svg {
    display: block;
   }

   .btn{
    width: 100%;
    height: 65px;
    margin-top: 18px;
   }
}
@media screen and (max-width:375px) {
   .resuits-paragrahs1{
    display: none;
   }
   .resuits-paragrahs2{
    display: none;
   }

   .resuit-border{
    border: none;
   }
}

