h2{
    height: 232px;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 96px;
    margin: 53px 0px 53px 0px;
    
    color: #0B0A1B;
}